<!DOCTYPE HTML>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <title>自動販売機</title>
   <style type="text/css">
    table, td, th {
        border: solid black 1px;
        height: 100px;
    }
    table {
        width: 1000px;
    }
    img{
        width: 180px;
        height: 200px;
    }
    h2{
        color: red;
    }
    </style>
</head>
<body>
<h1>管理者側ページ</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% if add_error_message %}
<h2>{{ add_error_message }}</h2>
{% endif %}

{% if success_message %}
<h2>{{ success_message }}</h2>
{% endif %}

{% if status_error_message %}
<h2>{{ status_error_message }}</h2>
{% endif %}

{% if stock_error_message %}
<h2>{{ stock_error_message }}</h2>
{% endif %}

{% if price_error_message %}
<h2>{{ price_error_message }}</h2>
{% endif %}
<form method="post" enctype="multipart/form-data" action="/add">
   <p><label for="drink_name">名前：</label>
   <input id="drink_name" type="text" name="drink_name"></p>

   <p><label for="price">値段：</label>
   <input id="price" type="text" name="price"></p>

   <p><label for="stock">個数：</label>
   <input id="stock" type="text" name="stock"></p>

   <p><label for="image">画像：</label>
   <input id="image" type="file" name="image"></p>

    <p><select name="status_selector">
        <option value="" {% if nothing_check %} checked {% endif %}>選択してください</option>
        <option value=1 {% if public_check %} checked {% endif %}>公開</option>
        <option value=0 {% if private_check %} checked {% endif %}>非公開</option>
    </select></p>

   <button type="submit" name="add_drink_button" value="add_drink_button">商品追加</button>
</form>

    <table>
        <h3>商品画像一覧</h3>
        <tr>
            <th>商品ID</th>
            <th>商品画像</th>
            <th>商品名</th>
            <th>価格</th>
            <th>在庫数</th>
            <th>ステータス</th>
        </tr>

        {% for item in products %}
        <tr>
            <td>{{ item.drink_id }}</td>
            <!-- ここのsrcで画像の保存先のpathがあっていれは表示できるんじゃね？ -->
            <td><image src="{{ item.image }}"></td>
            <!-- <td>{{ item.image }}</td> -->
            <td>{{ item.drink_name }}</td>
            <td>{{ item.price }}円</td>
            <td>
                <form method="post" action="/change_stock">
                    <label for="stock">ここに個数が入る→</label>
                    <input type="text" name="stock" value="{{item.stock}}">個
                    <input type="hidden" name="drink_id" value="{{item.drink_id}}">
                    <!-- <input type="text" name="item" value="" placeholder="{{item.stock}}">個 -->
                    <!-- <input type="text" name="item">個 -->
                    <!-- <input type="hidden" value="{{item.drink_id}}"> -->
                    <input type="submit" value="変更">
                </form>
            </td>
            <td>
                <form method="post" action="/change_status">
                    {% if item.publication_status == 1 %}
                    <input type="hidden" name="status_drink_id" value={{item.drink_id}}>
                    <button type="submit" name="change_status" value=0>非公開にする</button>
                    <!-- <button type="submit" name="change_status" value={{item.publication_status}}>非公開にする</button> -->
                    {% elif item.publication_status == 0 %}
                    <input type="hidden" name="status_drink_id" value={{item.drink_id}}>
                    <button type="submit" name="change_status" value=1>公開にする</button>
                    <!-- <button type="submit" name="change_status" value={{item.publication_status}}>公開にする</button> -->
                    {% endif %}
                </form>
                <!-- {{ item.publication_status }} -->
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
