<!DOCTYPE HTML>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <title>自動販売機</title>
   <style type="text/css">
    table, td, th {
        border: solid black 1px;
        height: 100px;
    }
    table {
        width: 800px;
    }
</style>
</head>
<body>
<form method="post">
   <label for="drink_name">名前：</label>
   <input id="drink_name" type="text" name="drink_name">

   <label for="price">値段：</label>
   <input id="price" type="text" name="price">

   <label for="stock">個数：</label>
   <input id="stock" type="text" name="stock">

   <label for="image">画像：</label>
   <input id="image" type="file" name="image">

   <input type="submit" value="商品追加">
</form>

    <table>
        <p>商品画像一覧</p>
        <tr>
            <th>商品ID</th>
            <th>商品画像</th>
            <th>商品名</th>
            <th>価格</th>
            <th>在庫数</th>
            <th>ステータス</th>
        </tr>

        {% for item in products %}
        <tr>
            <td>{{ item.drink_id }}</td>
            <!-- ここのsrcで画像の保存先のpathがあっていれは表示できるんじゃね？ -->
            <td><image src="9783675_3L1.jpg"></td>
            <td>{{ item.drink_name }}</td>
            <td>{{ item.price }}</td>
            <td>
                <form method="post">
                    <label for="item">ここに個数が入る→</label>
                    <input type="text" name="item" value="{{item.stock}}">個
                    <input type="hidden" name="drink_id" value="{{item.drink_id}}">
                    <!-- <input type="text" name="item" value="" placeholder="{{item.stock}}">個 -->
                    <!-- <input type="text" name="item">個 -->
                    <!-- <input type="hidden" value="{{item.drink_id}}"> -->
                    <input type="submit" value="変更">
                </form>
            </td>
            <td>{{ item.publication_status }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
